In [2]:
import duckdb
import pandas as pd

In [3]:
sql_query = ''' show tables '''

In [9]:
with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                      name
0              first_model
1          first_model_ref
2       my_first_dbt_model
3      my_second_dbt_model
4  parking_violation_codes
5  parking_violations_2023

In [7]:
sql_query_import_1 =  '''
 CREATE OR REPLACE TABLE parking_violation_codes AS 
  SELECT *
  FROM read_csv_auto(
    'data/dof_parking_violation_codes.csv',
    normalize_names = True
  )
'''

sql_query_import_2 =  '''
 CREATE OR REPLACE TABLE parking_violations_2023 AS 
  SELECT *
  FROM read_csv_auto(
    'data/parking_violations_issued_fiscal_year_2023_sample.csv',
    normalize_names = True
  )
'''

In [8]:
with duckdb.connect('data/nyc_parking_violations.db') as con:
    con.sql(sql_query_import_1)
    #con.sql(sql_query_import_2)

In [3]:
sql_query_codes = '''
 SELECT * FROM parking_violation_codes LIMIT 5
 '''

sql_query_violations = '''
 SELECT * FROM parking_violations_2023 LIMIT 5
 '''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query_violations).df())

,summons_number,plate_id,registration_state,plate_type,issue_date,violation_code,vehicle_body_type,vehicle_make,issuing_agency,street_code1,...,vehicle_color,unregistered_vehicle,vehicle_year,meter_number,feet_from_curb,violation_post_code,violation_description,no_standing_or_stopping_violation,hydrant_violation,double_parking_violation
0,1484721809,GDM5641,NY,PAS,2022-07-04,20,SDN,LEXUS,K,0,...,BLK,0,2021,-,0,None,None,None,None,None
1,1484752272,KSZ7897,NY,PAS,2022-06-06,14,SDN,LEXUS,K,36420,...,BLK,0,2016,-,0,None,None,None,None,None
2,1478495560,KVX4496,NY,PAS,2022-06-24,46,SDN,LEXUS,C,21125,...,SLV,0,2007,-,0,None,None,None,None,None
3,1478500050,HVM1150,NY,PAS,2022-06-22,98,SDN,LEXUS,C,24810,...,SIL,0,2005,-,0,None,None,None,None,None
4,1478526439,KET5139,NY,PAS,2022-06-21,98,SDN,LEXUS,C,23380,...,GRY,0,2004,-,0,None,None,None,None,None